<!-- 
   Used for simple testing the role manager with a remocon. It doesn't need the rest
   of the concert infrastructure.
-->
<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="concert_name" default="Pirate Concert"/>
  <arg name="concert_icon" default="concert_master/rocon_text.png"/>
  <arg name="concert_description" default="Pirates in concert."/>

  <group ns="concert">
    <!-- ****************************** Parameters ***************************** -->
    <param name="name" value="$(arg concert_name)"/>
    <param name="description" value="$(arg concert_description)"/>
    <param name="icon" value="$(arg concert_icon)"/>
  
    <!-- ******************************** Master ******************************* -->
    <node pkg="concert_master" type="master.py" name="master"/>

    <!-- ************************ Rocon Interactions *************************** -->
    <node pkg="rocon_interactions" type="interactions_manager.py" name="interactions">
      <rosparam param="interactions">[rocon_interactions/android, rocon_interactions/qt, rocon_interactions/web_apps]</rosparam>
    </node>
    <!-- alternatively use the external loader and configure groups with default namespaces -->
    <node pkg="rocon_interactions" type="load_interactions" name="load_interactions" args="-n '/web' rocon_interactions web">
      <remap from="load_interactions/set_interactions" to="interactions/set_interactions"/>
    </node>
    <node pkg="rocon_interactions" type="attach_test_remocon" name="attach_test_remocon"/>
  </group>

  <!-- ****************************** Zeroconf ******************************* -->
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf">
    <rosparam param="services" subst_value="true">
        [ { name: "$(arg concert_name)", type: _concert-master._tcp, port: 11311, domain: local, description: "$(arg concert_description)" } ] 
    </rosparam>
  </node>
</launch>

